
/* GENERAL */
.background {
    -fx-background-color: #EEEFF2;
}

.topBar {
    -fx-background-color: #43484C;
}

.yearLabel {
    -fx-text-fill: rgba(255, 255, 255, .5);
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 20;
    -fx-alignment: CENTER;
}

.scrollPane {
    -fx-background: rgba(255, 255, 255, .9);
    -fx-background-color: rgba(255, 255, 255, .9);
    -fx-background-insets: 0 0 0 0;
}

.scroll-bar {
    -fx-background-color: transparent;
    -fx-pref-width: 10;
}

.scroll-bar .thumb {
    -fx-background-color: #778089;
}

.contentPane {
    -fx-background-color: rgba(255, 255, 255, .9);
}



/* MENU */
.combo-box-base {
    -fx-background-color: rgba(255, 255, 255, .95);
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-border-color: transparent transparent rgba(0, 0, 0, .2) transparent;
    -fx-border-width: 2;
}

.combo-box-base:hover {
    -fx-border-color: transparent transparent linear-gradient(to top right, #E33D53, #F2670F) transparent;
}

.combo-box .list-cell {
    -fx-background: rgba(255, 255, 255, .92);
    -fx-background-color: transparent;
    -fx-text-fill: rgba(0, 0, 0, .9);
    -fx-padding: 3 0 2 15;
    -fx-cell-size: 1.66667em;
}

.combo-box-popup .list-view {
    -fx-background-color: rgba(255, 255, 255, .92);
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0.1, 0.0, 0.0);
    -fx-opacity: .9;
}

.combo-box-popup .list-view .list-cell {
    -fx-padding: 4 0 4 5;

    /* No alternate highlighting */
    -fx-background-color: rgba(255, 255, 255, .92);
    -fx-text-fill: rgba(0, 0, 0, .7);
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-background-color: rgba(255, 255, 255, .92);
    -fx-text-fill: rgba(0, 0, 0, .7);
}

.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-text-fill: rgba(0, 0, 0, 1);
}

.date-picker > .text-field {
    -fx-background-insets: 0 0 0 0;
}

.date-picker > .arrow-button {
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0 3 3 0, 0 2 2 0, 0 1 1 0;
}

.datePicker {
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent rgba(255, 255, 255, .2) transparent;
}

.datePicker:hover {
    -fx-border-color: transparent transparent linear-gradient(to top right, #E33D53, #F2670F) transparent;
}

.datePicker > .text-field {
    -fx-background-color: #43484C;
    -fx-text-fill: rgba(255, 255, 255, .5);
}

.datePicker > .arrow-button {
    -fx-background-color: #43484C;
    -fx-background-insets: 1 1 1 0, 1, 2;
    -fx-background-radius: 0 3 3 0, 0 2 2 0, 0 1 1 0;
}

.date-picker .cell:hover {
    -fx-background-color: linear-gradient(to top right, #E33D53, #F2670F);
}

.date-picker .cell:focused {
    -fx-background-color: linear-gradient(to top right, #E33D53, #F2670F);
}

.date-picker .cell.selected {
    -fx-background-color: linear-gradient(to top right, #E33D53, #F2670F);
}

.date-picker-popup .week-number-cell {
    -fx-text-fill: linear-gradient(to top right, #E33D53, #F2670F);
}

.date-picker-popup .week-number-cell:hover {
    -fx-text-fill: white;
}

.addRec {
    -fx-fill: url("/pictures/icons/add.png");
    -fx-opacity: .5;
}

.addRec:hover {
    -fx-fill: url("/pictures/icons/addGradient.png");
    -fx-opacity: .9;
}

.decreaseRec {
    -fx-fill: url("/pictures/icons/arrowLeft.png");
}

.decreaseRec:hover {
    -fx-fill: url("/pictures/icons/arrowLeftGradient.png");
}

.currentLabel {
    -fx-text-fill: rgba(0, 0, 0, .8);
    -fx-font-family: 'Arial Rounded MT Bold';
    -fx-font-size: 16;
    -fx-alignment: center;
}

.increaseRec {
    -fx-fill: url("/pictures/icons/arrowRight.png");
}

.increaseRec:hover {
    -fx-fill: url("/pictures/icons/arrowRightGradient.png");
}



/* DAY PANES */
.weekLabel {
    -fx-text-fill: rgba(0, 0, 0, .8);
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 18;
    -fx-alignment: CENTER-RIGHT;
}

.currentWeekLabel {
    -fx-text-fill: rgba(0, 0, 0, .8);
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 18;
    -fx-alignment: CENTER-LEFT;
}

.weekDayLabel {
    -fx-text-fill: rgba(0, 0, 0, .8);
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 14;
    -fx-alignment: center;
}

.dayPane {
    -fx-background-color: rgba(255, 255, 255, 1);
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.1, 0.0, 0.0);
}

.dayLabel {
    -fx-text-fill: rgba(0, 0, 0, .8);
    -fx-font-family: "Arial";
    -fx-font-size: 14;
    -fx-border-color: transparent transparent rgba(0, 0, 0, .2) transparent;
    -fx-alignment: center;
}

.LOW {
    -fx-fill: linear-gradient(to top right, #E33D53, #F2670F);
    -fx-opacity: .2;
}

.MEDIUM {
    -fx-fill: linear-gradient(to top right, #E33D53, #F2670F);
    -fx-opacity: .5;
}

.HIGH {
    -fx-fill: linear-gradient(to top right, #E33D53, #F2670F);
    -fx-opacity: .8;
}

.taskPane {
    -fx-background-color: #E6E6E6;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0.1, 0.0, 0.0);
}

.taskLabel {
    -fx-text-fill: rgba(0, 0, 0, .8);
    -fx-font-family: "Arial";
    -fx-font-size: 12;
    -fx-wrap-text: true;
}

.taskTypeLabel {
    -fx-text-fill: rgba(0, 0, 0, .8);
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 12;
}



/* ADD OR EDIT WINDOW */
.addOrEditBackground {
    -fx-background-color: #EEEFF290;
}

.backRec {
    -fx-fill: url("/pictures/icons/close.png");
}

.backRec:hover {
    -fx-fill: url("/pictures/icons/closeGradient.png");
}

.formPane {
    -fx-background-color: rgba(255, 255, 255, .9);
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.1, 0.0, 0.0);
}

.formLabel {
    -fx-text-fill: rgba(0, 0, 0, .8);
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 14;
}

.text-area {
    -fx-background-color: rgba(255, 255, 255, .95);
    -fx-background-insets: 0 0 0 0;
    -fx-wrap-text: true;
}

.text-area .content {
    -fx-background-color: rgba(255, 255, 255, .95);
}

.saveLabel {
    -fx-text-fill: rgba(0, 0, 0, .8);
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 14;
    -fx-alignment: center;
    -fx-border-color: transparent transparent rgba(0, 0, 0, .2) transparent;
    -fx-border-width: 2;
}

.saveLabel:hover {
    -fx-border-color: transparent transparent linear-gradient(to top right, #E33D53, #F2670F) transparent;
}