
/* GENERAL */
.background {
    -fx-background-color: #EEEFF2;
}

.topBar {
    -fx-background-color: #43484C;
}

.title {
    -fx-text-fill: rgba(255, 255, 255, .5);
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 20;
}

.dropShadow {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.1, 0.0, 0.0);
}

.scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-pref-width: 10;
}

.scroll-bar:horizontal {
    -fx-background-color: transparent;
    -fx-pref-height: 10;
}

.scroll-bar .thumb {
    -fx-background-color: #778089;
}


/* CONTENT */
.datePane {
    -fx-background-color: linear-gradient(to top right, #E33D53, #F2670F);
    -fx-background-radius: 5;
}

.dayLabel {
    -fx-text-fill: rgba(255, 255, 255, .8);
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 20;
    -fx-alignment: center;
}

.dateLabel {
    -fx-text-fill: rgba(255, 255, 255, .8);
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 16;
    -fx-alignment: center;
}

.tasksPane {
    -fx-background-color: rgba(255, 255, 255, 1);
    -fx-background-radius: 5;
}

.tasksTitle {
    -fx-text-fill: rgba(0, 0, 0, .8);
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 18;
}

.listView {
    -fx-background-color: rgba(255, 255, 255, .9);
}

.listView .list-cell:odd { /* <=== changed to even */
    -fx-background-color: rgba(255, 255, 255, .9);
}

.listView .list-cell:filled {
    -fx-background-insets: 0;
}

.listView .list-cell:filled:selected, .list-cell:filled:selected:focused {
    -fx-background-color: rgba(0, 0, 0, .2);
    -fx-text-fill: rgba(0, 0, 0, .8);
}

.listView .list-cell:filled:hover {
    -fx-background-color: rgba(0, 0, 0, .1);
    -fx-text-fill: rgba(0, 0, 0, .8);
}

.companiesPane {
    -fx-background-color: rgba(255, 255, 255, 1);
    -fx-background-radius: 5;
}

.companiesTitle {
    -fx-text-fill: rgba(0, 0, 0, .8);
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 18;
}

.jobsPane {
    -fx-background-color: rgba(255, 255, 255, 1);
    -fx-background-radius: 5;
}

.jobsTItle {
    -fx-text-fill: rgba(0, 0, 0, .8);
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 18;
}

.candidatePane {
    -fx-background-color: rgba(255, 255, 255, 1);
    -fx-background-radius: 5;
}

.candidateTitle {
    -fx-text-fill: rgba(0, 0, 0, .8);
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 18;
}

.activitiesPane {
    -fx-background-color: rgba(255, 255, 255, 1);
    -fx-background-radius: 5;
}

.activitiesTitle {
    -fx-text-fill: rgba(0, 0, 0, .8);
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 18;
}

.activitiesStats {
    -fx-text-fill: rgba(0, 0, 0, .8);
    -fx-font-family: "Arial";
    -fx-font-size: 20;
    -fx-alignment: center;
}

.activitiesStatsCurrent {
    -fx-text-fill: rgba(0, 0, 0, .8);
    -fx-font-family: "Arial";
    -fx-font-size: 24;
    -fx-alignment: CENTER-RIGHT;
}

.activitiesStatsGoal {
    -fx-text-fill: rgba(0, 0, 0, .8);
    -fx-font-family: "Arial";
    -fx-font-size: 24;
    -fx-alignment: CENTER-LEFT;
}

.activitiesStatus {
    -fx-text-fill: rgba(0, 0, 0, .8);
    -fx-font-family: "Arial";
    -fx-font-size: 14;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
}