
/* GENERAL */
.addOrEditBackground {
    -fx-background-color: #EEEFF290;
}

.backRec {
    -fx-fill: url("/pictures/icons/close.png");
}

.backRec:hover {
    -fx-fill: url("/pictures/icons/closeGradient.png");
}

.formPane {
    -fx-background-color: rgba(255, 255, 255, .9);
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.1, 0.0, 0.0);
}

.formLabel {
    -fx-text-fill: rgba(0, 0, 0, .8);
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 14;
}

.formText {
    -fx-text-fill: rgba(0, 0, 0, .8);
    -fx-font-family: "Arial";
    -fx-font-size: 14;
}

.noPlacementRec {
    -fx-fill: url("/pictures/icons/thumbDown.png");
    -fx-opacity: .5;
}

.placementRec {
    -fx-fill: url("/pictures/icons/check.png");
}

.dividerLine {
    -fx-stroke: rgba(0, 0, 0, .1);
}

.saveLabel {
    -fx-text-fill: rgba(0, 0, 0, .8);
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 14;
    -fx-alignment: center;
    -fx-border-color: transparent transparent rgba(0, 0, 0, .2) transparent;
    -fx-border-width: 2;
}

.saveLabel:hover {
    -fx-border-color: transparent transparent linear-gradient(to top right, #E33D53, #F2670F) transparent;
}

.errorLabel {
    -fx-text-fill: rgba(255, 0, 0, .8);
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 12;
}





/* COMBO BOX */
.combo-box-base {
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-border-color: transparent transparent rgba(0, 0, 0, .2) transparent;
    -fx-border-width: 2;
}

.combo-box-base:hover {
    -fx-border-color: transparent transparent linear-gradient(to top right, #E33D53, #F2670F) transparent;
}

.combo-box .list-cell {
    -fx-background: rgba(255, 255, 255, .92);
    -fx-background-color: transparent;
    -fx-text-fill: rgba(0, 0, 0, .9);
    -fx-padding: 3 0 2 15;
    -fx-cell-size: 1.66667em;
}

.combo-box-popup .list-view {
    -fx-background-color: rgba(255, 255, 255, .92);
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0.1, 0.0, 0.0);
    -fx-opacity: .9;
}

.combo-box-popup .list-view .list-cell {
    -fx-padding: 4 0 4 5;

    /* No alternate highlighting */
    -fx-background-color: rgba(255, 255, 255, .92);
    -fx-text-fill: rgba(0, 0, 0, .7);
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-background-color: rgba(255, 255, 255, .92);
    -fx-text-fill: rgba(0, 0, 0, .7);
}

.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-text-fill: rgba(0, 0, 0, 1);
}



/* DATEPICKER */
.date-picker > .text-field {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.date-picker > .arrow-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0 3 3 0, 0 2 2 0, 0 1 1 0;
}

.date-picker .cell:hover {
    -fx-background-color: linear-gradient(to top right, #E33D53, #F2670F);
}

.date-picker .cell:focused {
    -fx-background-color: linear-gradient(to top right, #E33D53, #F2670F);
}

.date-picker .cell.selected {
    -fx-background-color: linear-gradient(to top right, #E33D53, #F2670F);
}

.date-picker-popup .week-number-cell {
    -fx-text-fill: linear-gradient(to top right, #E33D53, #F2670F);
}

.date-picker-popup .week-number-cell:hover {
    -fx-text-fill: white;
}



/* TEXT FIELD */
.text-field {
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 0 0;
    -fx-border-color: transparent transparent rgba(0, 0, 0, .2) transparent;
    -fx-border-width: 2;
}

.text-field:hover {
    -fx-border-color: transparent transparent linear-gradient(to top right, #E33D53, #F2670F) transparent;
}



/* TEXT AREA */
.text-area {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 0 0;
    -fx-border-color: transparent transparent rgba(0, 0, 0, .2) transparent;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-wrap-text: true;
}

.text-area:hover {
    -fx-border-color: transparent transparent linear-gradient(to top right, #E33D53, #F2670F) transparent;
}

.text-area .content {
    -fx-background-color: transparent;
}



/* SCROLL PANE / BARS */
.scroll-bar {
    -fx-background-color: transparent;
    -fx-pref-width: 10;
}

.scroll-bar .thumb {
    -fx-background-color: #778089;
}




/* LIST VIEW */
.listView {
    -fx-background-color: transparent;
}

.listView .list-cell:even { /* <=== changed to even */
    -fx-background-color: transparent;
}

.listView .list-cell:odd { /* <=== changed to even */
    -fx-background-color: transparent;
}

.listView .list-cell:filled {
    -fx-background-insets: 0;
}

.listView .list-cell:filled:selected, .list-cell:filled:selected:focused {
    -fx-background-color: transparent;
    -fx-text-fill: rgba(0, 0, 0, .9);
}