
/* GENERAL */
.background {
    -fx-background-color: #EEEFF2;
}

.topBar {
    -fx-background-color: #43484C;
}

.scrollPane {
    -fx-background: #EEEFF2;
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 0 0;
}

.scroll-bar {
    -fx-background-color: transparent;
    -fx-pref-width: 10;
}

.scroll-bar .thumb {
    -fx-background-color: #778089;
}

.textField {
    -fx-prompt-text-fill: rgba(255, 255, 255, .5);
    -fx-text-fill: rgba(255, 255, 255, .5);
    -fx-background-color: #43484C;
    -fx-background-insets: 0 0 0 0;
    -fx-border-color: transparent transparent rgba(255, 255, 255, .2) transparent;
    -fx-border-width: 2;
}

.textField:focused {
    -fx-text-fill: rgba(255, 255, 255, .5);
    -fx-border-color: transparent transparent linear-gradient(to top right, #E33D53, #F2670F) transparent;
}

.textField:hover {
    -fx-text-fill: rgba(255, 255, 255, .5);
    -fx-border-color: transparent transparent linear-gradient(to top right, #E33D53, #F2670F) transparent;
}





/* NOTES */
.notePane {
    -fx-background-color: rgba(255, 255, 255, 1);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.1, 0.0, 0.0);
}

.notePane:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 10, 0.2, 0.0, 0.0);
}

.dividerLine {
    -fx-stroke: rgba(0, 0, 0, .1);
}

.addRec {
    -fx-fill: url("/pictures/icons/add.png");
    -fx-opacity: .5;
}

.addRec:hover {
    -fx-fill: url("/pictures/icons/addGradient.png");
    -fx-opacity: .9;
}

.subjectLabel {
    -fx-text-fill: rgba(0, 0, 0, .8);
    -fx-font-family: 'Arial Rounded MT Bold';
    -fx-font-size: 14;
    -fx-wrap-text: false;
}

.subjectTwoLabel {
    -fx-text-fill: rgba(0, 0, 0, .8);
    -fx-font-family: 'Arial';
    -fx-font-size: 14;
    -fx-wrap-text: false;
}

.noteLabel {
    -fx-text-fill: rgba(0, 0, 0, .8);
    -fx-font-family: 'Arial';
    -fx-font-size: 14;
    -fx-wrap-text: true;
}

.text-area {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 0 0;
    -fx-border-color: transparent transparent rgba(0, 0, 0, .1) transparent;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-wrap-text: true;
}

.text-area .content {
    -fx-background-color: transparent;
}

.dateLabel {
    -fx-text-fill: rgba(0, 0, 0, .6);
    -fx-font-family: 'Arial';
    -fx-font-size: 13;
}

.editRec {
    -fx-fill: url("/pictures/icons/edit.png");
    -fx-opacity: .5;
}

.editRec:hover {
    -fx-opacity: .9;
}

.deleteRec {
    -fx-fill: url("/pictures/icons/delete.png");
    -fx-opacity: .5;
}

.deleteRec:hover {
    -fx-opacity: .9;
}







/* ADD OR EDIT WINDOW */
.addOrEditBackground {
    -fx-background-color: #EEEFF290;
}

.backRec {
    -fx-fill: url("/pictures/icons/close.png");
}

.backRec:hover {
    -fx-fill: url("/pictures/icons/closeGradient.png");
}