
.root {
    -backgroundColor: #EEEFF2;
    -menuColor1: #33373B;
    -menuColor2: #43484C;
    -menuTextColor: #778089;
    -menuDividerColor: #2D3135;

}


/* PICTURES */
.logoPic {
    -fx-fill: url("/pictures/logoBW.png");
}

.tasksPic {
    -fx-fill: url("/pictures/icons/tasks.png");
}

.calendarPic {
    -fx-fill: url("/pictures/icons/calendar.png");
}

.activityPic {
    -fx-fill: url("/pictures/icons/activity.png");
}

.clientPic {
    -fx-fill: url("/pictures/icons/client.png");
}

.jobsPic {
    -fx-fill: url("/pictures/icons/jobs.png");
}

.notesPic {
    -fx-fill: url("/pictures/icons/notes.png");
}

.candidatePic {
    -fx-fill: url("/pictures/icons/candidate.png");
}

.statisticsPic {
    -fx-fill: url("/pictures/icons/statistics.png");
}

.settingsPic {
    -fx-fill: url("/pictures/icons/settings.png");
}



/* GENERAL */
.background {
    -fx-background-color: -backgroundColor;
}



/* MENU */
.menuBackground {
    -fx-background-color: -menuColor1;
}

.menuTopBackground {
    -fx-background-color: -menuColor2;
}

.menuTitle {
    -fx-text-fill: -menuTextColor;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 15;
}

.menuTitle:hover {
    -fx-text-fill: rgba(255, 255, 255, .5);
    /* -fx-text-fill: linear-gradient(to right, #E33D53, #F2670F); */
}

.menuItemTitle {
    -fx-text-fill: -menuTextColor;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 10;
}

.menuItem {
    -fx-background-color: -menuColor1;
}

.menuItem:hover {
    -fx-background-color: #2B2F33;
}

.menuActive {
    -fx-background-color: #2B2F33;
}

.menuDesc {
    -fx-text-fill: -menuTextColor;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 14;
}

.menuDivider {
    -fx-stroke: -menuDividerColor;
    -fx-stroke-width: 2;
}