
/* GENERAL */
.background {
    -fx-background-color: #EEEFF2;
}

.topBar {
    -fx-background-color: #43484C;
}

.backRec {
    -fx-fill: url("/pictures/icons/close.png");
    -fx-opacity: .5;
}

.backRec:hover {
    -fx-fill: url("/pictures/icons/closeGradient.png");
    -fx-opacity: .8;
}

.scroll-bar {
    -fx-background-color: transparent;
    -fx-pref-width: 10;
}

.scroll-bar .thumb {
    -fx-background-color: #778089;
}

.textField {
    -fx-prompt-text-fill: rgba(255, 255, 255, .5);
    -fx-text-fill: rgba(255, 255, 255, .5);
    -fx-background-color: #43484C;
    -fx-background-insets: 0 0 0 0;
    -fx-border-color: transparent transparent rgba(255, 255, 255, .2) transparent;
    -fx-border-width: 2;
}

.textField:focused {
    -fx-text-fill: rgba(255, 255, 255, .5);
    -fx-border-color: transparent transparent linear-gradient(to top right, #E33D53, #F2670F) transparent;
}

.textField:hover {
    -fx-text-fill: rgba(255, 255, 255, .5);
    -fx-border-color: transparent transparent linear-gradient(to top right, #E33D53, #F2670F) transparent;
}

.dividerLine {
    -fx-stroke: rgba(0, 0, 0, .2);
}



/* CUSTOM AREA CHART */
.customAreaChart {
    -fx-background-color: transparent;
}

.customAreaChart:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0.1, 0.0, 0.0);
}

.customAreaChart .axis {
    -fx-tick-length: 2;
    -fx-minor-tick-count: 0;
    -fx-tick-mark-visible: false;
}

.customAreaChart .chart-plot-background {
    -fx-background-color: transparent;
}

.customAreaChart .chart-area-symbol {
    -fx-border-color: #E33D53;
    -fx-pref-width: 4;
    -fx-pref-height: 4;
}

.chartLabel {
    -fx-alignment: center;
    -fx-font-family: "Arial";
    -fx-text-fill: rgba(0, 0, 0, .7);
}

.customAreaChartList {
    -fx-background-color: transparent;
}

.customAreaChartList:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0.1, 0.0, 0.0);
}

.customAreaChartList .axis {
    -fx-tick-length: 2;
    -fx-minor-tick-count: 0;
    -fx-tick-mark-visible: false;
}

.customAreaChartList .chart-series-area-fill {
    -fx-fill: transparent;
}

.customAreaChartList .chart-series-area-line {
    -fx-stroke-width: 1.5;
}

.customAreaChartList .chart-plot-background {
    -fx-background-color: transparent;
}

.customAreaChartList .chart-area-symbol {
    -fx-pref-width: 4;
    -fx-pref-height: 4;
}

.customAreaChartList .chart-legend {
    -fx-background-color: transparent;
}

.enlarged {
    -fx-background-color: #EEEFF2;
}

.enlargedLabel {
    -fx-text-fill: rgba(255, 255, 255, .5);
    -fx-font-family :"Arial Rounded MT Bold";
    -fx-font-size: 16;
    -fx-alignment: center;
}
